<div class="featured">
   
      
    <img
      src="https://images3.alphacoders.com/129/1292401.jpg"
      alt=""
    />
    <div class="info">
      <img
        src="../../../assets/avatar.png"
        alt=""
      />
      <span class="desc">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae
        adipisci repellendus eum quasi illo, velit numquam, maxime tempora
        sint deleniti, aliquid qui? Facilis, adipisci! Ratione hic repudiandae
        temporibus eum earum?
      </span>
      <div class="buttons">
        <button class="play">
          <span>Book</span>
        </button>
        <button class="more">
          <span>Info</span>
        </button>
      </div>
    </div>
  </div>