<div [class.scrolled]="isScrolled" class="navbar">
<div class="container2">
    <div class="left">
      <img
        src="../../../assets/logo.png"
        alt=""
      />
      <span>Homepage </span>
      <span>Series</span>
      <span>Movies</span>
      <span>New and Popular</span>
      <span>My List</span>
    </div>
    <div class="right">
      <!-- <Search class="icon" /> -->
      <span>KID</span>
      <!-- <Notifications class="icon" /> -->
      <img
        src="https://images.pexels.com/photos/6899260/pexels-photo-6899260.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
        alt=""
      />
      <div class="profile">
        <!-- <ArrowDropDown class="icon" /> -->
        <div class="options">
          <span>Settings</span>
          <span>Logout</span>
        </div>
      </div>
    </div>
  </div>

 
</div>